.bg-pink {
    background-color: rgb(248, 77, 105);
}

.text-pink {
	color:rgb(248, 77, 105);
}

.text-blue {
	color: rgb(77, 77, 255) !important;
}

.text-blue:hover {
	color: #fff !important	;
}

.bg-blue {
	background-color: rgb(77, 77, 255) !important;
}

.loginWidth {
	width: 54.2rem !important;
}

.varelaFont {
	width: 90.3vw;
	color: #fff;
	font-family: "Varela Round";
	font-size: 5rem;
}

#storeImage {
    width: 46vw;
    height: 50.9vh;
    object-fit: cover;
}

a{
	text-decoration: none;
}
  
.btn-login {
	font-size: 0.9rem !important;
	letter-spacing: 0.05rem !important;
	padding: 0.75rem 1rem !important;
}

.btn-blue {
	background-color: rgb(77, 77, 255) !important;
	color: #fff !important;
}

.btn-blue:hover{
	color:yellow !important
}	 