.header {
  padding: 10px;
  text-align: center;
  background: #07155D;
  color: white;
  font-size: 20px;
}



.info{
  padding: 10px;
  text-align: center;
  background: #970F05;
  color: white;
  font-size: 20px;
}

.tabletitle{
  background: #000000;
  color: white;
}


.footer1{
  background: #940C80;
  color: white;
}


table, th, td {
  border: 1px solid black;
}