.header {
  padding: 10px;
  text-align: center;
  background: #4056A1;
  color: white;
  font-size: 20px;
}



.info{
  padding: 10px;
  text-align: center;
  background: #EFE2BA;
  color: black;
  font-size: 20px;
}

.footer1{
  background: #F13C20;
  color: white;
}

table, th, td {
  border: 1px solid black;
}