.header {
  padding: 10px;
  text-align: center;
  background: rgb(77, 77, 255);
  color: white;
  font-size: 20px;
}



.info{
  padding: 10px;
  text-align: center;
  background: rgb(248, 77, 105);
  color: white;
  font-size: 20px;
}

.tabletitle{
  background: #000000;
  color: white;
}


.footer1{
  color: black;
}


table, th, td {
  border: 1px solid black;
}